<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="PriceTagDb" connectionString="data source=10.110.32.58;initial catalog=ommsde;MultipleActiveResultSets=True;integrated security=false;user id=app.admin;password=@dm1n_app;Connection Timeout=0;Max Pool Size=2000" /> 
    <!-- <add name="PriceTagDb" connectionString="data source=10.110.40.29;initial catalog=RMS_DataInit;MultipleActiveResultSets=True;integrated security=false;user id=sa;password=Sec@3788min!;" /> -->
  </connectionStrings>
</configuration>
